.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  .icons {
    width: 100%;
  }

  &__box {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: 0.5s ease-out;
  }

  &__box:hover {
    background-color: $second-color;

    span {
      color: #444;
    }
  }
}