.home {
  padding: 3.5rem;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba($main-color, 0.9), rgba($main-color, 0.9)),
    url('/portfolio/img/1.jpg') no-repeat;
  background-size: 100vw 100vh, cover;

  h1 {
    margin-top: 15vh;
  }
}

.icons {
  font-size: 16px;
  margin-top: 1rem;
}

.icon {
  padding: 0.4rem;
}

.icon:hover {
  color: $second-color;
}