@import './variables';
@import './home';
@import './menu';
@import './about';
@import './work';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $main-color;
  color: $main-font-color;
  min-width: 320px;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.heading {
  margin: 0;
  font-weight: 400;
}

.lg-heading {
  font-size: 6rem;
  @extend .heading;
}

.sm-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(lighten($main-color, 2), 0.5);
  @extend .heading;
}

a {
  display: inline-flex;
  color: $main-font-color;
  text-decoration: none;
  transition: 0.5s ease-out;
}

.text-secondary {
  color: $second-color;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.portrait {
  width: 250px;
  height: 250px;
  border: 3px solid $second-color;
  border-radius: 50%;
}

.page {
  padding: 3rem;
  height: 100%;
}

@import './media';