@import './variables';
@import './home';
@import './menu';

@import './media';

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: $main-color;
  color: $main-font-color;
  min-width: 320px;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.heading {
  margin: 0;
  font-weight: 400;
}

.lg-heading {
  font-size: 6em;
  @extend .heading;
}

.sm-heading {
  font-size: 2em;
  margin-bottom: 2em;
  padding: 0.2em 1em;
  background: rgba(lighten($main-color, 2), 0.5);
  @extend .heading;
}

a {
  display: inline-block;
  color: $main-font-color;
  text-decoration: none;
  transition: 0.5s ease-out;
}

.text-secondary {
  color: $second-color;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}