.home {
  padding: 3.5rem;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(68, 68, 68, 0.9), rgba(68, 68, 68, 0.9)), url("/portfolio/img/1.jpg") no-repeat;
  background-size: 100vw 100vh, cover;
}
.home h1 {
  margin-top: 15vh;
}
.home .icons {
  font-size: 16px;
  margin-top: 1rem;
}
.home .icon {
  padding: 0.4rem;
}
.home .icon:hover {
  color: #84cded;
}

.menu__btn {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
  z-index: 3;
  transition: 0.5s ease-out;
}
.menu__btn-line {
  width: 28px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  transition: 0.5s ease-out;
}
.menu__btn--close {
  transform: rotate(180deg);
}
.menu__btn--close > .menu__btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu__btn--close > .menu__btn-line:nth-child(2) {
  opacity: 0;
}
.menu__btn--close > .menu__btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  opacity: 0.98;
  visibility: hidden;
}
.menu__nav-child, .menu__nav-list, .menu__nav-img {
  display: flex;
  flex-flow: column;
  width: 50vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-out;
}
.menu__nav-img {
  background-color: #444;
  transform: translateY(100%);
}
.menu__nav-img .portrait {
  background: url("/portfolio/img/portrait/portrait-lg.jpg");
  background-size: contain;
}
.menu__nav-list {
  padding: 0;
  margin: 0;
  transform: translateY(-100%);
  background-color: #373737;
  list-style: none;
}
.menu__nav-list li:nth-child(1) {
  display: flex;
  transform: translateX(50vw);
  transition: 0.5s ease-out 0.1s;
}
.menu__nav-list li:nth-child(2) {
  display: flex;
  transform: translateX(50vw);
  transition: 0.5s ease-out 0.2s;
}
.menu__nav-list li:nth-child(3) {
  display: flex;
  transform: translateX(50vw);
  transition: 0.5s ease-out 0.3s;
}
.menu__nav-list li:nth-child(4) {
  display: flex;
  transform: translateX(50vw);
  transition: 0.5s ease-out 0.4s;
}
.menu__nav-item {
  font-size: 2rem;
  font-weight: 300;
  padding: 0.5rem 0;
  text-transform: uppercase;
}
.menu__nav-item:hover {
  color: #84cded;
}
.menu__nav .active {
  color: #84cded;
}
.menu__nav--show {
  visibility: visible;
}
.menu__nav--show .menu__nav-child, .menu__nav--show .menu__nav-img, .menu__nav--show .menu__nav-list {
  transform: translateY(0);
}
.menu__nav--show .menu__nav-list li {
  transform: translateX(0);
}

.about {
  padding: 3rem;
  height: 100%;
}
.about__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-template-areas: "bioimg bio bio" "job1 job2 job3";
  font-size: 16px;
}
.about__bio-img {
  grid-area: bioimg;
  margin: auto;
}
.about__bio-text {
  grid-area: bio;
  font-size: 1.5em;
}
.about__jobs {
  background: #515151;
  border-bottom: 5px solid #84cded;
  padding: 8px;
}
.about__jobs:nth-child(3) {
  grid-area: job1;
}
.about__jobs:nth-child(4) {
  grid-area: job2;
}
.about__jobs:nth-child(5) {
  grid-area: job3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #444;
  color: #fff;
  min-width: 320px;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.heading, .sm-heading, .lg-heading {
  margin: 0;
  font-weight: 400;
}

.lg-heading {
  font-size: 6rem;
}

.sm-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: 0.5s ease-out;
}

.text-secondary {
  color: #84cded;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.portrait {
  width: 250px;
  height: 250px;
  border: 3px solid #84cded;
  border-radius: 50%;
}

@media (max-width: 800px) {
  html {
    font-size: 13px;
  }

  main {
    align-items: center;
    text-align: center;
  }

  .lg-heading {
    line-height: 1;
  }

  .menu__nav {
    flex-flow: column;
  }
  .menu__nav-img > .portrait {
    width: 150px;
    height: 150px;
  }
  .menu__nav-child, .menu__nav-img, .menu__nav-list {
    width: 100vw;
  }
  .menu__nav-child:first-child, .menu__nav-img:first-child, .menu__nav-list:first-child {
    height: 25vh;
    min-height: 170px;
    transform: translateX(-100%);
  }
  .menu__nav-child:last-child, .menu__nav-img:last-child, .menu__nav-list:last-child {
    max-height: 75vh;
    height: calc(100vh - 170px);
    transform: translateX(100%);
  }
  .menu__nav--show .menu__nav-child, .menu__nav--show .menu__nav-img, .menu__nav--show .menu__nav-list {
    transform: translateX(0);
  }

  .about__info {
    grid-template-columns: 1fr;
    grid-template-areas: "bioimg" "bio" "job1" "job2" "job3";
  }
}
@media (max-width: 500px) {
  html {
    font-size: 9px;
  }

  .menu__nav-item {
    font-size: 24px;
  }
}

/*# sourceMappingURL=styles.css.map */
